@use 'src/style/style';

.nav-chat-web {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background: style.$Color_NavBar_Application;

  .profile-web-chat {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    column-gap: 1rem;
    margin-left: 1rem;

    .title-chat-web {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: left;
      align-items: start;
      text-align: start;

      .title-profile {
        margin: 0;
      }

      .text-preview {
        margin: 0;
        color: style.$Color_Date;
      }

    }

  }

  .icon-chat-web {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: center;
    column-gap: 1rem;
    margin-right: 1rem;
  }

}
