@use "src/style/style";


.chat-view-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100vw;

  .chat-conversation-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
