@use "src/style/style";

.container-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  position: relative;
  width: 100%;
  height: 100vh;
  background: style.$Color_Background_Web;

  .header {
    background: style.$Color_Header_Web;
    width: 100%;
    padding: 4rem;
  }

  .list-and-chat-container, .list-mobile-container {
    position: absolute;
    top: 1rem;
    width: calc(100% - 25%);
    height: calc(100% - 5%);
  }
}

@media (max-width: 1200px) {
  .container-page {

    .list-and-chat-container {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 960px) {
  .container-page {
    .header {
      display: none;
    }

    .list-mobile-container {
      top: 0;
      width: 450px;
      height: 100%;
    }
  }
}
@media (max-width: 375px) {
  .container-page {
    .header {
      display: none;
    }

    .list-mobile-container {
      top: 0;
      width: 375px;
      height: 100%;
      .list-users{
        margin: 0;
        width: 370px;
        overflow-x: hidden;
      }
    }
  }
}
