@use "src/style/style";

.nav-container-web {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background: style.$Color_NavBar_Application;


  .profile-text-web {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;


    .image-profile {
      width: 50px;
      height: 50px;
      margin: 0 1rem;
    }

    .title-profile {
      color: #667781;
    }
  }

  .nav-bar-button-web {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 1rem;
    margin-right: 0.5rem;

    .top-circle {
      border-radius: 50%;
      border: 2px dashed #667781;
      width: 20px;
      margin-right: 0.5rem;
    }

  }

}
