@use "src/style/style";


.container-date-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  column-gap: 5px;
  @include style.Font_Text_Date;

}

.date-style{
  @include style.Font_Text_Date;
}
