@use "src/style/style";

.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background: style.$Color_NavBar_Mobile;

  .title-profile {
    color: aliceblue;
    margin-left: 1.5rem;

  }

  .nav-bar-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 1rem;
    margin-right: 0.5rem;

  }

}
