@use "src/style/style";

.menu-web-container {
  border-bottom: 1px solid #F0F2F5;

  .menu-web-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    padding: 0.8rem;
    margin: 1rem;
    border-radius: 8rem;
    background: #F0F2F5;

    .text-input {
      border: none;
      background: transparent;
      width: 80%;
    }
  }
}
