@use "src/style/style";

.container-chat-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 1rem;
  height: 50px;
  margin: 1rem;

  .title-and-textPreview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .title-profile {
      margin: 2px;
    }

    .text-preview {
      margin: 2px 1px 1px;
      color: style.$Color_Preview;

    }
  }

  .container-date-text, .date-style {
    position: absolute;
    right: 30px;
  }


}
