@use "src/style/style";

.container-chat-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 1rem;
  width: fit-content;
  height: 50px;
  margin: 1rem;


  .title-and-textPreview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .title-profile {
      margin: 2px;
    }

    .text-preview {
      width: 300px;
      margin: 2px 1px 1px;
      color: style.$Color_Preview;

    }

    .text-with-check {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
    }
  }

  .container-date-text, .date-style {
    position: absolute;
    left: 400px;
  }


}
